<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>servlets.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eBooksStoreAdminEBooks</servlet-name>
        <servlet-class>servlets.eBooksStoreAdminEBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eBooksStoreAdminUserRolesServlet</servlet-name>
        <servlet-class>servlets.eBooksStoreAdminUserRolesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eBooksStoreAdminUsersServlet</servlet-name>
        <servlet-class>servlets.eBooksStoreAdminUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eBooksStoreMainServlet</servlet-name>
        <servlet-class>servlets.eBooksStoreMainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eBooksStoreAdminPublishersServlet</servlet-name>
        <servlet-class>servlets.eBooksStoreAdminPublishersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eBooksStoreAdminGenresServlet</servlet-name>
        <servlet-class>servlets.eBooksStoreAdminGenresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eBooksStoreAdminBookTypeServlet</servlet-name>
        <servlet-class>servlets.eBooksStoreAdminBookTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eBooksStoreAdminPaperQualityServlet</servlet-name>
        <servlet-class>servlets.eBooksStoreAdminPaperQualityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eBooksStoreAdminBookAuthorServlet</servlet-name>
        <servlet-class>servlets.eBooksStoreAdminBookAuthorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eBooksStoreAdminRatingServlet</servlet-name>
        <servlet-class>servlets.eBooksStoreAdminRatingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eBookStoreAdminEBooksServlet</servlet-name>
        <servlet-class>servlets.eBookStoreAdminEBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eBookStoreUserOrderServlet</servlet-name>
        <servlet-class>servlets.eBookStoreUserOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eBooksStoreAdminEBooks</servlet-name>
        <url-pattern>/eBooksStoreAdminEBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eBooksStoreAdminUserRolesServlet</servlet-name>
        <url-pattern>/eBooksStoreAdminUserRolesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eBooksStoreAdminUsersServlet</servlet-name>
        <url-pattern>/eBooksStoreAdminUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eBooksStoreMainServlet</servlet-name>
        <url-pattern>/eBooksStoreMainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eBooksStoreAdminPublishersServlet</servlet-name>
        <url-pattern>/eBooksStoreAdminPublishersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eBooksStoreAdminGenresServlet</servlet-name>
        <url-pattern>/eBooksStoreAdminGenresServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eBooksStoreAdminBookTypeServlet</servlet-name>
        <url-pattern>/eBooksStoreAdminBookTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eBooksStoreAdminPaperQualityServlet</servlet-name>
        <url-pattern>/eBooksStoreAdminPaperQualityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eBooksStoreAdminBookAuthorServlet</servlet-name>
        <url-pattern>/eBooksStoreAdminBookAuthorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eBooksStoreAdminRatingServlet</servlet-name>
        <url-pattern>/eBooksStoreAdminRatingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eBookStoreAdminEBooksServlet</servlet-name>
        <url-pattern>/eBookStoreAdminEBooksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eBookStoreUserOrderServlet</servlet-name>
        <url-pattern>/eBookStoreUserOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
